body::-webkit-scrollbar {
  display: none;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  font-size: 15px;
}

.nav li:nth-child(3) {
  margin-right: 20px;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.nav-main ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-main ul li {
  list-style-type: none;
}

.nav-elements-icons {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-elements-icons li:nth-child(2) {
  margin-right: 20px;
}

.sub-nav {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

.sub-nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.sub-nav ul li {
  margin: 0 5px;
}

.sub-nav ul li:first-child {
  margin-right: 5px;
}

.sub-nav ul li:last-child {
  margin-left: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 50px;
  height: 600px;
  width: 600px;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 20px;
}

.form-group {
  margin: 50px 50px 50px;
  margin-top: 50px;
}

.form-group input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 2px solid lightgray;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: lightgray;
  font-size: 20px;
  padding-left: 10px;
}

.form-group input::placeholder {
  font-size: 20px;
  padding-left: 10px;
}

.card h1 {
  text-align: center;
}

.form-group button {
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: #000000;
  color: #fff;
}

.form-group p {
  text-align: center;
}

.form-group span {
  font-weight: bolder;
}

/* Responsive styles */

@media (max-width: 767px) {
  .nav {
    display: none;
  }
  .nav li:nth-child(3) {
    display: none;
  }

  .nav-main {
    flex-direction: column;
    align-items: center;
  }
  .nav-main ul {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .nav-main .nav-elements-icons {
    display: none; /* Hide icons on smaller screens */
  }
  .sub-nav ul li {
    margin: 0 3px;
  }
  .card-container {
    justify-content: center;
  }
  .card {
    width: 90%;
    height: auto;
    margin: 20px 0;
  }
  .form-group {
    margin: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav {
    display: none;
  }

  .nav-main {
    flex-direction: column;
    align-items: center;
  }
  .nav-main ul {
    flex-direction: column;
    margin-top: 10px;
  }
  .sub-nav ul li {
    margin: 0 3px;
  }
  .card-container {
    justify-content: center;
  }
  .card {
    width: 90%;
    height: auto;
    margin: 20px 0;
  }
  .form-group {
    margin: 20px;
  }
}
